CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache
.snakemake
build
external_cache
src/3rdparty/samtools/config.h
src/3rdparty/samtools/config.h.in
src/3rdparty/samtools/config.log
src/3rdparty/samtools/config.mk
src/3rdparty/samtools/config.status
*.map
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

panmans
pan8
workflow_output

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# pixi environments
.pixi
*.egg-info

src/3rdparty/minimap2/minimap2
*.pico
src/3rdparty/samtools/htslib-1.20/test/*
src/3rdparty/samtools/htslib-1.20/annot-tsv
src/3rdparty/samtools/htslib-1.20/bgzip
src/3rdparty/samtools/htslib-1.20/config.log
src/3rdparty/samtools/htslib-1.20/config.mk
src/3rdparty/samtools/htslib-1.20/config.status
src/3rdparty/samtools/htslib-1.20/config_vars.h
src/3rdparty/samtools/htslib-1.20/hts-object-files
src/3rdparty/samtools/htslib-1.20/htsfile
src/3rdparty/samtools/htslib-1.20/htslib-uninstalled.pc
src/3rdparty/samtools/htslib-1.20/tabix
src/3rdparty/samtools/htslib-1.20/version.h

# htslib build artifacts
src/3rdparty/samtools/htslib-1.20/**/*.pico
src/3rdparty/samtools/htslib-1.20/cram/*.pico
src/3rdparty/samtools/htslib-1.20/htscodecs/**/*.pico
